        .button-content {
            background-color: rgb(0,123,255);
            color: aliceblue;
            padding: 12px 20px;
            margin-left: 10px;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;            
        }
        .show-button {
            padding: 10px;
            margin-left: 10px;
        }
        .input-content {
            padding: 12px 15px;
            border-radius: 10px;
            border-width: 1px;
            font-size: 15px;
            flex-grow: 1;
            margin-bottom: 5px;            
        }